*{
    margin: 0;
    padding: 0;
    font-family:"Roboto";
    /* letter-spacing: 0px; */
   
}
.nav-bar{
    background-color: greenyellow;
    /* height: 7rem; */
    width:100%;
    /* display:flex; */

}
.middle{
    /* background-color: aqua; */
    width:100%;
    height:100rem;
    background-image: url("./assets/backgoround-image.jpg");
    background-size: contain;
}
.bottom{
    background-color: bisque;
    width:100%;
    height: 30rem;
}
img{
    height:3rem;
    width:8rem;
}
.upper-nav-bar{
    display:flex;
    background-color:#131921;
    color: white;
    justify-content: space-around;
    width:100%;
    height:3.1rem;
    padding-top: 10px;
}
.main-search-bar{
    width:45rem;
    /* height:2.5rem; */
    
}
#all{
    width:3rem;
    /* height:2.5rem; */
    background-color: #D3D3D3;
   border-top-left-radius:5px ;
    border-bottom-left-radius:5px;
    margin-right:0px;
    border:none;
}
.search-bar{
    display: flex;
    margin:0px 3px;
    height:2.5rem;
}
.search-icon{
    background-color: #fcdb79;
    width:3rem;
    /* height: 2.5rem; */
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
    border:none;
}
.search-icon i{
    font-size: 25px;
    padding:0.5rem;
}
.language img{
    height:0.7rem;
    width:1rem;
}
.language i{
    font-size:0.6rem;
    color:#cccccc;
}
form{
    display:flex;
}
.language{
    font-size: 0.9rem;
    margin-top: 20px;
    font-weight: 700;
}
.address{
    height:60px;
    width:139px;
    display: flex;
    flex-wrap: wrap;
}
.add-icon{
    padding-top:0.8rem;
    margin-right: 5px;
}
.lower-nav-bar{
    background-color: #0f1111;
}
.add-1{
    font-size:13px;
    color:#cccccc;
}
.add-2{
    font-size: 0.9rem;
    color:#ffffff;
    font-weight: 700;
}
.address{
    height:2.5rem;
}
#acc-1{
    margin-top: 6px;
    font-size:13px;
    opacity:0.9;
}
#acc-2{
    font-size: 0.9rem;
    color:#ffffff;
    font-weight: 700;
}
#ret-1{
     margin-top: 6px;
    font-size:13px;
    opacity:0.9;
}
#ret-2{
     font-size: 0.9rem;
    color:#ffffff;
    font-weight: 700;
}
#acc-2 i{
    font-size:0.6rem;
    color:#cccccc;
}
.cart i{
    font-size: 2.2rem;
}
.cart span{
    font-size: 0.9rem;
    color:#ffffff;
    font-weight: 700;
}


.lower-nav-bar{
    background-color:#2b3440fd;
    color:white;
    height:2.5rem;
    display:flex;
     justify-content: space-between; 
     align-items:center; 
     padding-right: 4rem;
     padding-left: 1.5rem;
     font-size: 14px;
     font-weight: 500;
    
}
.lower-nav-bar div i{
    font-size: 20px;
}
#j i{
    font-size:0.6rem;
    color:#cccccc;
}
.left-right-icon{
    display:flex;
    height:250px;
    /* background-color: blue; */
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
.left-right-icon i{
    font-size: 3rem;
    /* font-weight: 100; */
}
.content{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box{
    height:400px;
    width:300px;
    background-color: #fff;
    display:flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
}
.box img{
    height:150px;
}
#box-4{
   flex-wrap:wrap;
   background: none;
   width:350px;
   padding-top: 0px;
   margin-right: 0px;
   padding-right: 0px;
   padding-bottom: 0px;
}
#box-4-1{
    display: flex;
    background-color: #fff;
    height: 106px;
    padding: 25px;
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 800;
}
#box-4-1 img{
    height:100px;
}
#box-4-2{
   width:300px;
   background-color: #fff;
    height: 260px;
    padding-right: 10px;
    padding-left: 20px;
    margin-bottom: 0px;
    line-height:21px;
    
}
.shop-button{
    background-color: rgb(255, 165, 0);
    border: none;
    border-radius: 20px;
    padding: 5px 10px 5px 10px ;
    
}
#box-4-2 div{
    margin-bottom: 20px;
}
#box-4-2 button{
    margin-top:5px;
}
.big-box-1{
    background-color: #fff;
    height: 285px;
    width: 100%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:26px;
    
}
.big-box-1 img{
    height:200px;
    width:200px;
}
.big-box-2{
    background-color: #fff;
    height: 285px;
    width: 100%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:26px;
    margin-top:0px;
    
}
.big-box-2 img{
    height:200px;
    width:200px;
}
.bottom{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.top{
    background-color: rgb(52,72,103);
    height:50px;
    text-align: center;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color:#fff;
}
.bot{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(38,48,62);
    color:#fff;
    padding-right: 100px;
    padding-left: 100px;

}
.f-1{
    height:500px;
    width:150px;
    padding-top: 50px;
}
.f-2{
    height:500px;
    width:100px;
     padding-top: 50px;
}
.f-3{
    height:500px;
    width:150px;
     padding-top: 50px;
}
.f-4{
    height:500px;
    width:140px;
     padding-top: 50px;
}
.f-1 a{
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
    line-height:30px;
}
.f-2 a{
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
       line-height:30px;
}
.f-3 a{
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
       line-height:30px;
}
.f-4 a{
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
       line-height:30px;
}
.f-1 div{
    margin-bottom:10px;
    font-weight: 800;
}
.f-2 div{
    margin-bottom:10px;
     font-weight: 800;
}
.f-3 div{
    margin-bottom:10px;
     font-weight: 800;
}
.f-4 div{
    margin-bottom:10px;
     font-weight: 800;
}
.bot-2{
    display: flex;
    justify-content: center;
    background-color: #131921;
    padding: 40px 0px 100px 0px;
}
#india{
    border: 5px black;
    color:#fff;
}
.bot-2 div{
    margin-right: 30px;
}